body, html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.pimg1, .pimg2, .pimg3 {
  position: relative;
  background-position: center;
  background-size: cover;
  opacity: 0.7;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.pimg1 {
  background-image: url("../img/img1.jpg");
  min-height: 100%;
  
}
.pimg2 {
  background-image: url("../img/img2.jpeg");
  min-height: 400px;
}
.pimg3 {
  background-image: url("../img/img3.jpeg");
  min-height: 400px;
}

section {
  text-align: center;
  padding: 50px 80px;
}
.section-dark {
  background: #4f4e4d;
  color:#fff;
}

.ptext {
  position: absolute;
  width:100%;
  top: 50%;
  text-align: center;
  font-size: 2rem;
  border-radius: 5px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border {
   background: #131211;
   color: white;
   padding: 20px 40px;
}

.ptext .trans {
 background: transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3 {
    background-attachment: scroll;
  }
  .ptext .border {
    font-size: 17px;
    padding: 20px;
  }

}